*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vw;
}
form{
    margin: 20px 0px;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    padding: 10px;
}
.dropdown{
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 2rem;
}
.dropdown i {
    font-size: 2rem;
    margin-top: 12px;
}
.select-container{
    display: flex;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    width: auto;
}
 .select-container img{
    width: 100px;
    height: 60px;
 }
 .select-container select{
    font-size: 12px; 
    width: 60px; 
 }
 .msg{
    margin: auto;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
form button{
    margin-top: 10px; 
    background-color: #af4d98;
    color: white;
    font-size: 1rem;
    padding: 10px;
    font-weight: 100;
 }